body {
background-color: black;
margin: 0 auto; /* pour Ã©viter les marges */
text-align: center; /* pour corriger le bug de centrage IE */
}
p {
color: white;
}
h1 {
  color: red;
}
h2 {
  color: orange
}
h3 {
  color: yellow;
}
.container {
    display: flex;
    justify-content: space-between; /* Optionnel : espace entre les divs */
}
.box {
    width: 30%; /* Ajustez la largeur selon vos besoins */
    border: 1px solid #000;
    padding: 20px;
}
